<%= simple_form_for @user do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <div>
     <% if @user.persisted? %>
       <p>You must enter the password for changed to take effect</p>
       <%= f.input :current_password %>
     <% end %>
   </div>
   <% if @user.persisted? %>
     <p>Leave empty to keep the password the same</p>
   <% end %>
   <%= f.input :password, hint: "must be 8-16 characters" %>
   <%= f.input :password_confirmation %>
   <%= f.submit class: "btn btn-primary" %>
<% end %>
